.gabiviado {
    font-style: bold;
}

.baitola2 {
    width: 30%;
    border: 1em;
}

.p {
    font-size: 300%;
    font-style: bold;
}

.p2 {
    font-style: italic;
    font-size: 250%;
}

.baitolinha {
    width: 100%;
    padding: 100%;
    border: 100%;
}